<!-- Footer -->
<footer id="main-footer" class="py-4  text-center" style="color: white; background-color: #535857;">
    <h5>Copyright &copy;
    <span class="year"></span> Proficient Programmer
    <br><a href="{% url 'terms' %}" style="color: white;">Terms  & Conditions </a><br>
    
          
          <a href="https://www.facebook.com/Proficient-Programmmer-110912627363774/">
            <i class="fab fa-facebook fa-2x" style="color: white; padding-right: 3px;"></i>
          </a>
          <a href="https://www.instagram.com/proficientprogrammer/">
            <i class="fab fa-instagram fa-2x" style="color: white; padding-right: 3px;"></i>
          </a>
    
</footer>
