 <!-- Top Bar -->
 <section id="top-bar" class="p-3" style="background-color: #39d3b8; color: white;">
    <div class="container">
      <div class="row">
        <div class="col-md-8" style="padding: 0px 0px 0px 0px;">
          <i class="fas fa-envelope-open" > <span style="font-size: 18px; font-weight: bolder; font-family: Rubik;">Contact Us: proficientprogrammmer@gmail.com</span></i>
        </div>
        <div class="col-md-4" style="float: right; padding: 0px 0px 0px 0px;  font-family: Rubik;">
          <h6 style="font-size: 18px; font-weight: bolder; font-family: Rubik;">Book Your free Demo Class Now. &#128512;</h6>
        </div>
        
      </div>
    </div>
  </section>