{% extends 'base.html' %}
{% block title%} Exploring Course. {% endblock %}
{% block content %}

<div class="container-fluid" style=" background-color: cornsilk;">
    <h1 style="text-align: center;  color: brown; font-weight: bolder; padding: 20px 20px 20px 20px; text-decoration: underline;">
        EXCLUSIVE LIVE TRAINING: A COMPLETE PYTHON DEVELOPMENT COURSE</h1><br><br>
    <h2><ul>
        <li>This course is planned by keeping in mind the topics that need to be known by a python developer.</li><br>
        <li>It is a 3 month course. After the end of each month you will have projects developed by you.</li>
    </ul></h2>
    <h2 style="text-align: center; text-decoration: underline; font-weight: bolder; color: teal;">
        Have a look at the course curriculum for three months.👇 </h2>
    <h2><ul><br>
        <li><h2 style="text-decoration: underline; color: brown;">1st Month:</h2><h3> We will cover the basic of python programming with GUI. 
            At th end of the 1st month you will have 3 projects i.e. 2 minor projects and 1 major project.</h3></li><br>
        <li><h2 style="text-decoration: underline; color: brown;">2nd Month:</h2><h3> During this month we will mostly cover the topics 
            on AI-ML (Artificial Intelligence and Machine Learning). We will cover many libaries of the python. At the end of the second month 
            you will have 2 major projects and 2 minor projects in python.
        </h3></li><br>
        <li><h2 style="text-decoration: underline; color: brown;">3rd Month:</h2><h3>
            During 3rd month we will start with django framework. Everything that is required for developing a django website will be covered during this month.
            We will have 2 fully completed websites at the end of the 3rd month.  
        </h3></li>
    </ul></h2><br><br>
    <div class="container" style="text-align: center;"> 
        <table id="t01">
            <tr>
            <th>List of the topics that will be covered in 3 month course.</th>
            </tr>
            <tr>
                <td>Exploring Git Hub.</td>
            </tr>
            <tr>
            <td>Print function</td>
            </tr>
            <tr>
                <td>Datatypes</td>
            </tr>
            <tr>
                <td>Variables</td>
            </tr>
            <tr>
                <td>Comments</td>
            </tr>
            <tr>
                <td>Expressions</td>
            </tr>
            <tr>
                <td>Strings</td>
            </tr>
            <tr>
                <td>Branching</td>
            </tr>
            <tr>
                <td>Loops</td>
            </tr>
            <tr>
                <td>Functions</td>
            </tr>
            <tr>
                <td>Exception handling</td>
            </tr>
            <tr>
                <td>Control flow tools
                    <ul style="padding-left: 23px;"><li>Pass statement</li>
                        <li>Special parameters</li>
                        <li>Lambda Expression</li>
                        <li>Function Annotation</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>Data Structures
                    <ul style="padding-left: 23px;">
                        <li>Lists as Stacks</li>
                        <li>Lists as Queues</li>
                        <li>List Comprehensions</li>
                        <li>Nested list comprehension.</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>Tuples</td>
            </tr>
            <tr>
                <td>Sets</td>
            </tr>
            <tr>
                <td>Dictionary</td>
            </tr>
            <tr>
                <td>Looping Techniques</td>
            </tr>
            <tr>
                <td>Tkinter</td>
            </tr>
            <tr>
                <td>Various python modules</td>
            </tr>
            <tr>
                <td>Executing modules as Scripts</td>
            </tr>
            <tr>
                <td>Standard Modules</td>
            </tr>
            <tr>
                <td>dir()</td>
            </tr>
            <tr>
                <td>Packages</td>
            </tr>
            <tr>
                <td>Fancier Output Formatting</td>
            </tr>
            <tr>
                <td>Reading & writing Files</td>
            </tr>
            <tr>
                <td>Classes</td>
            </tr>
            <tr>
                <td>Brief of Standard Library</td>
            </tr>
            <tr>
                <td>Numpy</td>
            </tr>
            <tr>
                <td>Pandas</td>
            </tr>
            <tr>
                <td>Array v/s Lists</td>
            </tr>
            <tr>
                <td>Dot Product</td>
            </tr>
            <tr>
                <td>Speed Test</td>
            </tr>
            <tr>
                <td>Matrices</td>
            </tr>
            <tr>
                <td>Solving Linear Systems</td>
            </tr>
            <tr>
                <td>Generating Data</td>
            </tr>
            <tr>
                <td>Matplotlib</td>
            </tr>
            <tr>
                <td>Line chart</td>
            </tr>
            <tr>
                <td>Scaltor Plot</td>
            </tr>
            <tr>
                <td>Histogram</td>
            </tr>
            <tr>
                <td>Plotting Images</td>
            </tr>
            <tr>
                <td>Scipy</td>
            </tr>
            <tr>
                <td>Pdf & Cdf</td>
            </tr>
            <tr>
                <td>Convolution</td>
            </tr>
            <tr>
                <td>Django</td>
            </tr>
            <tr>
                <td>Database</td>
            </tr>
            <tr>
                <td>Deployment on Heroku</td>
            </tr>
        </table>
        <br><br>
    </div>
    <div class="container-fluid"  style=" background-color: cornsilk;">
        <h1 style="color: teal; text-align: center; text-decoration: underline;">
            All these topics will be covered in 3 month live training.</h1><br>
        <h2 style="color:brown; background-color: white; box-shadow: 8px -6px lightsalmon; text-align: center; border: 6px solid rgb(85, 38, 38); padding: 10px 10px 10px 10px;"> 
            The Live training consist of 5 sessions per week. Saturday and sunday will be off.
            There will be daily assignments, Weekly tests and Weekly quizes. Doubt session will be conducted on the daily basis.
            The are need to be fully attentive throughout the course. From the 2nd month , there will be session full of surprises on every friday
            . The students will learn some new tricks and tactics to make their life little easier with python. 
        </h2><br>
    </div>
    <div class="container-fluid">
        <table  style="border: 3px solid teal; margin-left: 130px; margin-right: 50px; font-size: xx-large;
        width: 70%;">
            <tr  style="border: 3px solid teal;">
                <th  style="border: 3px solid teal;  background-color: teal; color:white;">FEE STRUCTURE</th>
            </tr>
            <tr>
                <td  style="border: 3px solid teal; font-size: xx-large; color: teal;">For First Month:
                8,400 INR.
                </td>
            </tr>
            <tr>
                <td  style="border: 3px solid teal; font-size: xx-large; color: teal;">For Second Month:
                9,600 INR.
                </td>
            </tr>
            <tr>
                <td  style="border: 3px solid teal; font-size: xx-large; color: teal;">For Third Month:
                10,800 INR.
                </td>
            </tr>
        </table><br>
        <h2 style=" background-color: wheat; color:brown; text-align: center; border: 6px solid rgb(85, 38, 38); padding: 10px 10px 10px 10px;"> 
            The Registration fee for booking your slot is 1,600 INR. If you are unable to pay the amount per month 
            you can pay it per week or per session. For the First Month fee is 400 INR per session, the second month the fee is 
            450 INR per session and 500 INR per session. The fee for the session is to be deposited before the starting of the every session . If you
            face any problem contact us before respective session. 
        </h2><br>
    </div>
    <div>
        <a href="{% url 'enroll' %}" class="btn btn-xs " type="submit" 
                style=" margin-left:250px; font-family: Rubik; padding: 15px 15px 15px 15px; 
                font-weight: bold; height: 70px; text-align: center; background-color: teal; opacity: 1;
                color: white; font-size: x-large; margin-bottom: 20px;">REGISTER NOW, For The Exclusive Python Programming Course!</a>
    </div>
</div>


{% endblock %}