{% extends 'base.html' %}
{% load static %}
{% block title%} Terms & Conditions {% endblock %}
{% block content %}
<div class="container" style="background-color: whitesmoke; padding: 30px 30px 30px 30px; border: 1px solid whitesmoke; margin-bottom: 20px;">
    <div class="boxx">
        <h2>Terms of Service</h2>
        <h1>Proficient Programmer Terms of Service</h1>
        <h1>1. Terms</h1>
        <p>By accessing the website at https://www.proficientprogrammer.com, you are agreeing to be bound by these terms 
            of service, all applicable laws and regulations, and agree that you are responsible for compliance with any 
            applicable local laws. If you do not agree with any of these terms, you are prohibited from using or accessing 
            this site.</p>

        <h1>2. Use License</h1>
        <p>Permission is granted to temporarily download one copy of the materials (information or software) on Proficient 
            Programmer's website for personal, non-commercial transitory viewing only. This is the grant of a license, not
             a transfer of title, and under this license you may not:
            modify or copy the materials;
            use the materials for any commercial purpose, or for any public display (commercial or non-commercial);
            attempt to decompile or reverse engineer any software contained on Proficient Programmer's website;
            remove any copyright or other proprietary notations from the materials; or
            transfer the materials to another person or "mirror" the materials on any other server.
            This license shall automatically terminate if you violate any of these restrictions and may be terminated 
            by Proficient Programmer at any time. Upon terminating your viewing of these materials or upon the termination of this license,
             you must destroy any downloaded materials in your possession whether in electronic or printed format.</p>
        <h1>3. Disclaimer</h1>
        <p>The materials on Proficient Programmer's website are provided on an 'as is' basis. Proficient Programmer makes no warranties, expressed
             or implied, and hereby disclaims and negates all other warranties including, without limitation, implied warranties or conditions of 
             merchantability, fitness for a particular purpose, or non-infringement of intellectual property or other violation of rights.
            Further, Proficient Programmer does not warrant or make any representations concerning the accuracy, likely results, or reliability 
            of the use of the materials on its website or otherwise relating to such materials or on any sites linked to this site.</p>
        <h1>4. Limitations</h1>
        <p>In no event shall Proficient Programmer or its suppliers be liable for any damages (including, without limitation, damages for loss of data or profit, or due to business interruption) arising out of the use or inability to use the materials on Proficient Programmer's website, even if Proficient Programmer or a Proficient Programmer authorized representative has been notified orally or in writing of the possibility of such damage. Because some jurisdictions do not allow limitations on implied warranties, or limitations of liability for consequential or incidental damages, these limitations may not apply to you.</p>

        <h1>5. Accuracy of materials</h1>
        <p>The materials appearing on Proficient Programmer website could include technical, typographical, or photographic errors. Proficient Programmer does not warrant that any of the materials on its website are accurate, complete or current. Proficient Programmer may make changes to the materials contained on its website at any time without notice. However Proficient Programmer does not make any commitment to update the materials.</p>

        <h1>6. Links</h1>
        <p>Proficient Programmer has not reviewed all of the sites linked to its website and is not responsible for the contents of any such linked site. The inclusion of any link does not imply endorsement by Proficient Programmer of the site. Use of any such linked website is at the user's own risk.</p>

        <h1>7. Modifications</h1>
        <p>Proficient Programmer may revise these terms of service for its website at any time without notice. By using this website you are agreeing to be bound by the then current version of these terms of service.</p>

       

        <h1>8. Earnings disclaimer</h1>
        <p>Disclaimer: No Earnings Projections, Promises Or Representations

            You recognize and agree that we have made no implications, warranties, promises, suggestions, projections, representations or guarantees whatsoever to you about future prospects or earnings, or that you will earn any money, with respect to your purchase of Proficient Programmer products, and that we have not authorized any such projection, promise, or representation by others.

            Any earnings or income statements, or any earnings or income examples, are only estimates of what we think you could earn. There is no assurance you will do as well as stated in any examples. If you rely upon any figures provided, you must accept the entire risk of not doing as well as the information provided. This applies whether the earnings or income examples are monetary in nature or pertain to advertising credits which may be earned (whether such credits are convertible to cash or not).

            There is no assurance that any prior successes or past results as to earnings or income (whether monetary or advertising credits, whether convertible to cash or not) will apply, nor can any prior successes be used, as an indication of your future success or results from any of the information, content, or strategies. Any and all claims or representations as to income or earnings (whether monetary or advertising credits, whether convertible to cash or not) are not to be considered as “average earnings”.</p>

           <h1>11. Termination</h1>
            <p>We may cancel or terminate your right to use the Site or any part of the Site at any time without notice. In the event of cancellation or termination, you are no longer authorized to access the part of the Site affected by such cancellation or termination. The restrictions imposed on you with respect to material downloaded from the Site, and the disclaimers and limitations of liabilities set forth in these Terms of Service, shall survive.</p>

            <h1>12. Refund Policy</h1>
            <p>Your purchase of a product or service or ticket to an event may or may not provide for any refund. Each specific product, service, event or course will specify its own refund policy.</p>

            <p>Disclaimer
            Although it is highly unlikely, This policy may be changed at any time at our discretion. If we should update this policy, we will post the updates to this page on our Website. If you have any questions or concerns regarding our privacy policy please direct them to: proficientprogrammmmer@gmail.com </p>
    </div>

</div>
{% endblock %}